# Игнорировать все файлы в .terraform
/terraform/.terraform/*
/storage/.terraform/*
/monitoring_and_app/.terraform/*
/storage/.terraform/*
/jenkins/.terraform/*

# Игнорировать файлы с расширением .tfvars
/terraform/*.tfvars
/storage/*.tfvars
/monitoring_and_app/*.tfvars
/jenkins/*.tfvars

# Игнорировать файлы .lock.hcl
/storage/*.lock.hcl
/terraform/*.lock.hcl
/atlantis/*.lock.hcl
/monitoring_and_app/*.lock.hcl
/jenkins/*.lock.hcl

# Игнорировать файлы *.tfstate
/storage/*.tfstate
/storage/*.tfstate.*
/terraform/*.tfstate
/terraform/*.tfstate.*
/atlantis/*.tfstate
/atlantis/*.tfstate.*
/monitoring_and_app/*.tfstate
/monitoring_and_app/*.tfstate.*
/jenkins/*.tfstate
/jenkins/*.tfstate.*

/jenkins/ssh-key

.ansible
.DS_Store
/.vscode

/terraform/cloud-init.yaml
/ansible/inventory/sample/inventory

/atlantis/token
/atlantis/webhook-secret

